<div class="container" ng-controller="MainController">
    <div class="row text-center">
        <h1>{{title}}</h1>
    </div>
    <div class="row">
        Active Tab: {{active | json}} {{tabs.active | json}}
        <!--ng-change="tabs.open(tabs.active)"-->
        <!--<select ng-model="active"-->

                <!--ng-options="tab in tabs.tabs track by $index"-->
        <!--&gt;</select>-->
        <button >getContext</button>
    </div>
    <div class="row">
        <tabs active="active" on-init="onInitTabs">
            <tab ng-repeat="tab in tabs">
                <tab-header title="tab.title"></tab-header>
                <tab-content ng-bind-html="tab.content"></tab-content>
            </tab>
        </tabs>
    </div>
</div>