$height: 50px;
$color-hover: #2b669a;
$color-default: black;
$color-active: #4c9fff;
$border-color: #ddd;

.tabs {
  ul.bar {
    height: $height;
    display: inline-block;
    border-bottom: 1px solid $border-color;
    padding: 0;
    margin: 0;
    width: 100%;
    > li {
      position: relative;
      display: block;
      float: left;
      color: $color-default;
      min-width: 100px;
      text-align: center;
      vertical-align: middle;
      line-height: $height;
      height: $height;
      cursor: pointer;
      text-transform: uppercase;
      &:hover {
        color: $color-hover;
        &.active {
          color: $color-active;
        }
      }
      &.active {
        cursor: default;
        border-top: 1px solid $border-color;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        margin-bottom: 1px;
        background: white;
      }
    }
  }

  .content{
    margin: -6px 0 0 0;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    min-height: 50vh;
    padding: 10px 10px 10px 20px;
  }
  ng-transclude{
    display: block;
  }
}

